.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
    padding: 1px;
    color: #ddd;
    display: inline-block !important;
    font-size: 40px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    cursor: pointer;
}

.rating .filled {
  color: #fd0;
}

.rating li:hover {
    transform: rotate(-15deg) scale(1.3);
}

  .readonly li {
    color: #666;
    padding: 1px;
    color: #ddd;
    display: inline-block !important;
    font-size: 30px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
  }