<div id="headerBox" ng-include="'menu.html'"></div>
<div id="bodyBox">
<div class="contain">
<form name="ctrl.form" ng-init="sent=true;">
<fieldset>
<label for="created">{{'idea.created' | translate}}:</label>
<input type="text"
	moment-picker="ctrl.dateformated"
	ng-model="ctrl.idea.created"
	ng-value="ctrl.idea.created | formatLocalDate"
	today="true"
/>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="headline">{{'idea.headline' | translate}}:</label>
<input name="headline" id="headline" type="text" ng-model="ctrl.idea.headline"
ng-minlength="1"
ng-maxlength="150"
required
/>
<label ng-show="ctrl.form.headline.$error.minlength">{{'error.minlength' | translate}}</label>
<label ng-show="ctrl.form.headline.$error.maxlength">{{'error.maxlength' | translate}}</label>
<label ng-show="ctrl.form.headline.$error.required">{{'error.required' | translate}}</label>
<label ng-show="ctrl.form.headline.$error.pattern">{{'error.pattern' | translate}}</label>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="notes">{{'idea.notes' | translate}}:</label>
<input name="notes" id="notes" type="text" ng-model="ctrl.idea.notes" ng-minlength="1" ng-maxlength="260"/>
<label ng-show="ctrl.form.notes.$error.minlength">{{'error.minlength' | translate}}</label>
<label ng-show="ctrl.form.notes.$error.maxlength">{{'error.maxlength' | translate}}</label>
<label ng-show="ctrl.form.notes.$error.pattern">{{'error.pattern' | translate}}</label>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="image">{{'idea.image' | translate}}:</label>
<div class="image-chooser">
	<img id="image-preview" src=""></img>
	<image-picker image-selected="ctrl.onImageSelected(imageFile)" />
</div>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="description">{{'idea.description' | translate}}:</label>
<div class="container lighter">
		<div text-angular ng-model="ctrl.idea.description" 
			name="descriptionedit" id="descriptionedit"
			name="demo-editor" 
			ta-text-editor-class="clearfix border-around container" 
			ta-html-editor-class="border-around" required>
		</div>
</div>

<input name="description" id="description" type="hidden" ng-model="ctrl.idea.description" required />
<label ng-show="ctrl.form.description.$error.required">{{'error.required' | translate}}</label>
<div class="clear"></div>
</fieldset>
<div class="submitArea">
<button class="buttonRounded" ng-click="ctrl.gotoIdea.all();"><img src="res/img/icons/back.png" border="0" /><span class="hidden">{{'button.back' | translate}}</span></button>
<button class="buttonRounded right" ng-click="ctrl.doMaintain()"><img src="res/img/icons/save.png" border="0" /><span class="hidden">{{'button.save' | translate}}</span></button>
</div>
</form>
</div>
</div>